/* --------------{Global Calls}-------------- */
@font-face {
  font-family: Annone;
  src: url("../../Assets/Fonts/annone-font/Annone-rxOB.ttf");
}
@font-face {
  font-family: PokemonPixels1;
  src: url("../../Assets/Fonts/pokemon-pixels-font/PokemonPixels1-jYmj.ttf");
}
@font-face {
  font-family: PokemonPixels2;
  src: url("../../Assets/Fonts/pokemon-pixels-font/PokemonPixels2-59jx.ttf");
}
@font-face {
  font-family: PokemonPixels3;
  src: url("../../Assets/Fonts/pokemon-pixels-font/PokemonPixels3-zljG.ttf");
}
@font-face {
  font-family: PokemonSolidNormal;
  src: url("../../Assets/Fonts/pokemon-solid-font/PokemonSolidNormal-xyWR.ttf");
}
/* --------------{HTML Tags}-------------- */
body {
  background-image: url(/Assets/Backgrounds/Images/empty-plot.jpg);
  background-position: center;
  background-size: cover;
  font-family: PokemonSolidNormal;
}
/* -------------{Pokemon Sprite on Page Ends}--------------- */
.pixelmons{
  color: #438ae0;
  font-family: PokemonPixels2;
  font-size: 2rem;
  text-align: center;
  padding-right: 10rem;
  overflow: hidden;
}
/* -------------{Button}--------------- */
#submit {
  cursor: pointer;
  width: 100px;
  height: 70px;
  color: #438ae0;
  background-color: #f2db8d;
  font-family: PokemonSolidNormal; 
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px black;
  letter-spacing: .125rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 3px solid #438ae0;
  border-radius: 10px;
  margin-left: -1.4rem;
  transition: background-color .6s ease-in 1ms, box-shadow 2s ease-out 3ms, color .4s ease-in 1ms;
}
#submit:hover {
  background-color: #438ae0;
  color: #f2db8d;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}
/* -------------{Search Bar}--------------- */
#user-input {
  width: 190px;
  height: 60px;
  color: #438ae0;
  background-color: #f2db8d;
  font-family: PokemonSolidNormal;
  text-align: center;
  font-size: 1.1rem;
  border: 3px solid #438ae0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 1rem;
}

#user-input::placeholder { 
  color: #438ae0;
  font-style: italic;
}
/* -------------{Page Title Board}--------------- */
.title-container {
  background-color: #f2db8d;
  text-align: center;
  line-height: .95rem;
  letter-spacing: .3295rem;
  border: #438ae0 5px solid;
  border-radius: 2rem;
  z-index: 0;
}
 
#page-title {
  font-size: 40px;
  -webkit-text-stroke: .05rem  #438ae0;
  -webkit-text-fill-color: #e0c502;
}
  
#page-sub-title {
  font-size: 29.5px;
  letter-spacing: .35rem;
  -webkit-text-stroke: .05rem  #438ae0;
  -webkit-text-fill-color: #e0c502;
}

#unown-letters {
  color: #438ae0;
  text-align: center;
  font-family: Annone;
  font-size: 2rem;
}

#title-underline {
  width: 19.75rem;
  border: #438ae0 2px solid;
  border-radius: 50%;
}
  
#sub-underline {
  width: 14.95rem;
  border: #438ae0 2px solid;
  border-radius: 50%;
}
/* -------------{Api Content}--------------- */
.api-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.api-library {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  overflow: hidden;
}

.name-of-cards {
  width: 110px;
  background-color: #e0c502;
  font-size: large;
  text-align: center;
  letter-spacing: .2rem;
  border: #438ae0 3px solid;
  align-self: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 0 1.5rem 0rem .5rem;
  transition: background-color .5s ease-in .5ms, 1s ease-out 3ms;
}

.name-of-cards:hover {
  background-color: #438ae0;
  transform: translateY(-20px);
}

.api-library > div {
  border: 2px solid #438ae0;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'PokemonSolidNormal', sans-serif;
  color: #438ae0;
}

img {
  grid-area: img;
  opacity: 0;
  width: 55%;
  height: 55%;
}
/* -------------{Pokeball}--------------- */
.pokeball-container {
  opacity: 0;
  width: 5rem;
  height: 5rem;
  display: flex;
  grid-area: pokeball;
  justify-content: center;
  margin-top: 20px;
}

.pokeball-outline {
  width: 5rem;
  height: 5rem;
  background: black;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.pokeball-bottom-lid {
  width: 4.5rem; 
  height: 4.5rem;
  background: white;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}

.pokeball-top-lid {
  width: 4.5rem; 
  height: 2.3rem;
  background: red;
  align-self: start;
  border-radius: 10rem 10rem 0 0;
  margin-top: .195rem;
  z-index: 3;
}

.pokeball-center-line {
  width: 5rem;
  height: 0.3rem;
  background: black;
  position: absolute;
  z-index: 4;
}

.pokeball-button-outline {
  width: 1rem; 
  height: 1rem;
  background-color: black; 
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

.pokeball-button-color {
  width: 0.75rem;
  height: 0.75rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 6;
}
/* -------------{Card Sets}--------------- */
.tcg-sets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  overflow: hidden;
  gap: 10px;
  justify-content: center;
}

.set-titles {
  width: 200px;
  background-color: #e0c502;
  font-size: large;
  text-align: center;
  letter-spacing: .2rem;
  border: #438ae0 3px solid;
  align-self: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 0 1.5rem 0rem .5rem;
  transition: background-color .5s ease-in .5ms, 1s ease-out 3ms;
}

.set-titles:hover {
  background-color: #438ae0;
  transform: translateY(-20px);
}
/* -------------{How to Search}--------------- */
.hts-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hts-drop-menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}