/* Global calls */
/* ---------------------------- */
@font-face {
  font-family: Annone;
  src: url("../../Asset/Fonts/annone-font/Annone-rxOB.ttf");
}
@font-face {
  font-family: PokemonPixels1;
  src: url("../../Asset/Fonts/pokemon-pixels-font/PokemonPixels1-jYmj.ttf");
}
@font-face {
  font-family: PokemonPixels2;
  src: url("../../Asset/Fonts/pokemon-pixels-font/PokemonPixels2-59jx.ttf");
}
@font-face {
  font-family: PokemonPixels3;
  src: url("../../Asset/Fonts/pokemon-pixels-font/PokemonPixels3-zljG.ttf");
}
@font-face {
  font-family: PokemonSolidNormal;
  src: url("../../Asset/Fonts/pokemon-solid-font/PokemonSolidNormal-xyWR.ttf");
}  

body {
  font-family: PokemonSolidNormal;
  color: aquamarine;
  letter-spacing: .25rem;
  background: url("../../Asset/Backgrounds/higher-or-lower/img-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* ---------------------------- */
/* Container calls */
.htp-container {
  letter-spacing: .1rem;
}

.title-container {
  border: #438ae0 5px solid;
  border-radius: 2rem;
  text-align: center;
  line-height: .95rem;
  background-color: #f2db8d;
  letter-spacing: .3295rem;
}

.center-text-container {
  margin: auto 0;
  padding-top: 5rem;
  display: grid;
  font-size: 9.5px;
  text-align: center;
}

.pokeball-container {
  width: 5rem; 
  height: 5rem; 
  margin: 2rem auto;
  display: grid;
  place-items: center;
  position: relative;
}
/* ---------------------------- */
/* Pokeball Class */
.pokeball-outline {
  background: black;
  width: 5rem; 
  height: 5rem; 
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.pokeball-bottom-lid {
  background: white;
  width: 4.5rem; 
  height: 4.5rem; 
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}

.pokeball-top-lid {
  background: red;
  width: 4.5rem; 
  height: 2.3rem; 
  border-radius: 10rem 10rem 0 0;
  z-index: 1;
  margin-top: .195rem;
  align-self: start;
  grid-row: 1;
  grid-column: 1; 
}

.pokeball-center-line {
  background: black;
  width: 5rem; 
  height: 0.3rem; 
  z-index: 2;
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}

.pokeball-button-outline {
  background-color: black;
  width: 1rem; 
  height: 1rem; 
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}

.pokeball-button-color {
  background-color: white;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  z-index: 4;
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}
/* ---------------------------- */
/* Singular ids */
#pixelmon {
  font-family: PokemonPixels2;
  padding-bottom: 1.5rem;
  font-size: .7rem;
  color: aliceblue;
}

/* Title container ids */
#unown-letters {
  text-align: center;
  font-family: Annone;
  font-size: 1.35rem;
  color: #438ae0;
}

#page-title {
  font-size: 32px;
  -webkit-text-stroke: .05rem  #438ae0;
  -webkit-text-fill-color: #e0c502;
}

#page-sub-title {
  font-size: 17.5px;
  -webkit-text-stroke: .05rem  #438ae0;
  -webkit-text-fill-color: #e0c502;
  letter-spacing: .35rem;
}

#title-underline {
  border: #438ae0 2px solid;
  width: 18.815rem;
  border-radius: 50%;
}

#sub-underline {
  border: #438ae0 2px solid;
  width: 16rem;
  border-radius: 50%;
}
/* ---------------------------- */
/* Center text container ids  */