@font-face {
  font-family: Annone;
  src: url(Asset/Fonts/annone-font/Annone-rxOB.ttf);
}

@font-face {
  font-family: PokemonPixels1;
  src: url(Asset/Fonts/pokemon-pixels-font/PokemonPixels1-jYmj.ttf);
}

@font-face {
  font-family: PokemonPixels2;
  src: url(Asset/Fonts/pokemon-pixels-font/PokemonPixels2-59jx.ttf);
}

@font-face {
  font-family: PokemonPixels3;
  src: url(Asset/Fonts/pokemon-pixels-font/PokemonPixels3-zljG.ttf);
}

@font-face {
  font-family: PokemonSolidNormal;
  src: url(Asset/Fonts/pokemon-solid-font/PokemonSolidNormal-xyWR.ttf);
}

body {
  font-family: PokemonSolidNormal;
}